@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wf8w4');
	src:url('fonts/icomoon.eot?#iefix-wf8w4') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wf8w4') format('woff'),
		url('fonts/icomoon.ttf?-wf8w4') format('truetype'),
		url('fonts/icomoon.svg?-wf8w4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock-open:before {
	content: "\e61d";
}
.icon-lock-outline:before {
	content: "\e628";
}
.icon-info:before {
	content: "\e603";
}
.icon-info-outline:before {
	content: "\e61e";
}
.icon-pause-circle-fill:before {
	content: "\e61f";
}
.icon-pause-circle-outline:before {
	content: "\e620";
}
.icon-play-circle-fill:before {
	content: "\e621";
}
.icon-play-circle-outline:before {
	content: "\e622";
}
.icon-add-circle:before {
	content: "\e623";
}
.icon-add-circle-outline:before {
	content: "\e624";
}
.icon-inbox:before {
	content: "\e625";
}
.icon-remove-circle:before {
	content: "\e626";
}
.icon-remove-circle-outline:before {
	content: "\e627";
}
.icon-cross:before {
	content: "\e117";
}
.icon-menu:before {
	content: "\e120";
}
.icon-search:before {
	content: "\f002";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-arrow-up:before {
	content: "\e720";
}
.icon-arrow-up-right:before {
	content: "\e721";
}
.icon-arrow-right:before {
	content: "\e722";
}
.icon-arrow-down-right:before {
	content: "\e723";
}
.icon-arrow-down:before {
	content: "\e724";
}
.icon-arrow-down-left:before {
	content: "\e725";
}
.icon-arrow-left:before {
	content: "\e726";
}
.icon-arrow-up-left:before {
	content: "\e71f";
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e605";
}
.icon-undo2:before {
	content: "\e666";
}
.icon-redo2:before {
	content: "\e667";
}
.icon-forward:before {
	content: "\e668";
}
.icon-reply:before {
	content: "\e669";
}
.icon-twitter:before {
	content: "\e76d";
}
.icon-feed2:before {
	content: "\e770";
}
.icon-tag:before {
	content: "\e630";
}
.icon-tags:before {
	content: "\e631";
}
.icon-phone:before {
	content: "\e63c";
}
.icon-calendar:before {
	content: "\e64e";
}
.icon-bubble:before {
	content: "\e66a";
}
.icon-bubbles:before {
	content: "\e66b";
}
.icon-bubbles2:before {
	content: "\e66c";
}
.icon-bubble2:before {
	content: "\e66d";
}
.icon-bubbles3:before {
	content: "\e66e";
}
.icon-bubbles4:before {
	content: "\e66f";
}
.icon-user:before {
	content: "\e670";
}
.icon-users:before {
	content: "\e671";
}
.icon-user3:before {
	content: "\e674";
}
.icon-user4:before {
	content: "\e675";
}
.icon-cog2:before {
	content: "\e690";
}
.icon-cogs:before {
	content: "\e68f";
}
.icon-cog:before {
	content: "\e68e";
}
.icon-wrench:before {
	content: "\e68b";
}
.icon-switch:before {
	content: "\e6b1";
}
.icon-star:before {
	content: "\e6ce";
}
.icon-star2:before {
	content: "\e6cf";
}
.icon-star3:before {
	content: "\e6d0";
}
.icon-menu2:before {
	content: "\e6b7";
}
.icon-cloud-download:before {
	content: "\e6bb";
}
.icon-cloud-upload:before {
	content: "\e6bc";
}
.icon-download2:before {
	content: "\e6bd";
}
.icon-upload2:before {
	content: "\e6be";
}
.icon-download3:before {
	content: "\e6bf";
}
.icon-upload3:before {
	content: "\e6c0";
}
.icon-flag:before {
	content: "\e6c4";
}
.icon-eye:before {
	content: "\e6c6";
}
.icon-minus:before {
	content: "\e701";
}
.icon-plus:before {
	content: "\e702";
}
.icon-checkmark:before {
	content: "\e6fe";
}
.icon-checkmark2:before {
	content: "\e6ff";
}
.icon-enter:before {
	content: "\e703";
}
.icon-exit:before {
	content: "\e704";
}
.icon-feed3:before {
	content: "\e771";
}
.icon-twitter2:before {
	content: "\e76e";
}
.icon-twitter3:before {
	content: "\e76f";
}
.icon-feed4:before {
	content: "\e772";
}
.icon-tumblr:before {
	content: "\e792";
}
.icon-tumblr2:before {
	content: "\e793";
}
.icon-googleplus:before {
	content: "\e764";
}
.icon-googleplus3:before {
	content: "\e766";
}
.icon-googleplus4:before {
	content: "\e767";
}
.icon-facebook2:before {
	content: "\e76a";
}
.icon-facebook3:before {
	content: "\e76b";
}
.icon-home2:before {
	content: "\e601";
}
.icon-pencil2:before {
	content: "\e606";
}
.icon-location:before {
	content: "\e642";
}
.icon-location2:before {
	content: "\e643";
}
.icon-pushpin:before {
	content: "\e641";
}
.icon-compass:before {
	content: "\e644";
}
.icon-map:before {
	content: "\e645";
}
.icon-map2:before {
	content: "\e646";
}
.icon-print:before {
	content: "\e650";
}
.icon-unlocked:before {
	content: "\e68a";
}
.icon-lock:before {
	content: "\e688";
}
.icon-link:before {
	content: "\e6c3";
}
.icon-attachment:before {
	content: "\e6c5";
}
.icon-bookmark:before {
	content: "\e6c9";
}
.icon-bookmarks:before {
	content: "\e6ca";
}
.icon-info2:before {
	content: "\e6f7";
}
.icon-info22:before {
	content: "\e6f8";
}
.icon-cancel-circle:before {
	content: "\e6fa";
}
.icon-checkmark-circle:before {
	content: "\e6fb";
}
.icon-newtab:before {
	content: "\e75a";
}
.icon-facebook:before {
	content: "\e769";
}
.icon-file-pdf:before {
	content: "\e7b2";
}
.icon-newspaper:before {
	content: "\e604";
}
.icon-clock:before {
	content: "\e648";
}
.icon-clock2:before {
	content: "\e649";
}
.icon-share:before {
	content: "\e75e";
}
.icon-googleplus2:before {
	content: "\e765";
}
.icon-mail:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e607";
}
.icon-pause:before {
	content: "\e608";
}
.icon-next:before {
	content: "\e609";
}
.icon-previous:before {
	content: "\e60a";
}
.icon-first:before {
	content: "\e60b";
}
.icon-last:before {
	content: "\e60c";
}
.icon-arrow-left2:before {
	content: "\e60d";
}
.icon-arrow-down2:before {
	content: "\e60e";
}
.icon-arrow-up2:before {
	content: "\e60f";
}
.icon-arrow-right2:before {
	content: "\e610";
}
.icon-arrow-left3:before {
	content: "\e611";
}
.icon-arrow-down3:before {
	content: "\e612";
}
.icon-arrow-up3:before {
	content: "\e613";
}
.icon-arrow-right3:before {
	content: "\e614";
}
.icon-arrow-left4:before {
	content: "\e615";
}
.icon-arrow-down4:before {
	content: "\e616";
}
.icon-arrow-up4:before {
	content: "\e617";
}
.icon-arrow-right4:before {
	content: "\e618";
}
.icon-arrow-left5:before {
	content: "\e619";
}
.icon-arrow-down5:before {
	content: "\e61a";
}
.icon-arrow-up5:before {
	content: "\e61b";
}
.icon-untitled:before {
	content: "\e61c";
}
